/* reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* set up some basic styling for the layout */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav li {
    margin-right: 1rem;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
}

section {
    margin-bottom: 2rem;
}

h2 {
    text-align: center;
    margin-bottom: 1rem;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

li {
    margin: 1rem;
    padding: 1rem;
    background-color: #fff;
    border: 1px solid #ccc;
    text-align: center;
    width: 150px;
}

li a {
    color: #333;
    text-decoration: none;
    display: block;
}

footer {
    position: fixed;
    bottom: 0; /*stick the footer to the bottom of the page*/
    left: 0;
    right: 0;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

#quizContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 5px #ccc;
}